@import "../../../../static/css/base.css";

.featured-post img {
  height: 300px;
  width: auto;
  object-fit: cover;
  opacity: 0.4;
}

.main-post img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.anon-content {
  min-height: 100%;
  background-image: linear-gradient(
    var(--navy),
    rgba(255, 255, 255, 0.2),
    var(--navy)
  );
}
