:root {
  --grey: #a2abb5;
  --grey-80: rgba(162, 171, 181, 0.8);
  --grey-60: rgba(162, 171, 181, 0.6);
  --grey-40: rgba(162, 171, 181, 0.4);
  --grey-20: rgba(162, 171, 181, 0.2);
  --white-20: rgb(255, 255, 255, 0.2);
  --transp: rgba(0, 0, 0, 0);

  --coral: #f87575;
  --coral-80: rgba(248, 117, 117, 0.8);
  --coral-60: rgba(248, 117, 117, 0.6);
  --coral-40: rgba(248, 117, 117, 0.4);
  --coral-20: rgba(248, 117, 117, 0.2);

  --navy: #0e103d;
  --navy-80: rgba(14, 16, 61, 0.8);
  --navy-60: rgba(14, 16, 61, 0.6);
  --navy-40: rgba(14, 16, 61, 0.4);
  --navy-20: rgba(14, 16, 61, 0.2);
}

/* ------------- General Styles ------------- */

body {
  font-family: "Poppins", sans-serif;
}

.bg-navy {
  background-color: var(--navy) !important;
}

.bg-grey {
  background-color: var(--grey) !important;
}

.bg-grey-80 {
  background-color: var(--grey-80) !important;
}

.bg-grey-60 {
  background-color: var(--grey-60) !important;
}

.bg-grey-40 {
  background-color: var(--grey-40) !important;
}

.bg-grey-20 {
  background-color: var(--grey-20) !important;
}

.bg-coral {
  background-color: var(--coral) !important;
}

.bg-coral-80 {
  background-color: var(--coral-80) !important;
}

.bg-coral-60 {
  background-color: var(--coral-60) !important;
}

.bg-coral-40 {
  background-color: var(--coral-40) !important;
}

.bg-coral-20 {
  background-color: var(--coral-20) !important;
}

.bg-white-20 {
  background-color: var(--white-20) !important;
}

.bg-transp {
  background-color: var(--transp) !important;
}

.text-navy {
  color: var(--navy) !important;
}

.text-coral {
  color: var(--coral) !important;
}

.text-grey {
  color: var(--grey) !important;
}

.text-grey-80 {
  color: var(--grey-80) !important;
}

.text-grey-60 {
  color: var(--grey-60) !important;
}

.text-grey-40 {
  color: var(--grey-40) !important;
}

.text-grey-20 {
  color: var(--grey-20) !important;
}

.border-navy {
  border-color: var(--navy) !important;
}

.border-coral {
  border-color: var(--coral) !important;
}

.border-grey-60 {
  border-color: var(--grey-60) !important;
}

.main-hr {
  height: 3px !important;
  width: 80vw !important;
}

.icon {
  font-size: 1.5rem;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.post-content p > a,
.post-content em > a,
.post-content div > a,
.post-content span > a,
.link-coral {
  color: var(--coral) !important;
}

.link-coral:focus,
.link-coral:hover {
  color: var(--coral-40) !important;
}

/* ----------------------------------- Forms */

label {
  color: var(--coral) !important;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"],
.form-select {
  color: white !important;
  background-color: var(--transp) !important;
  border: none !important;
  border-bottom: 1px solid white !important;
  border-radius: 0;
}

.form-select {
  background-image: url(https://res.cloudinary.com/datonex/image/upload/v1651874563/angle-down_lk0dv0.png) !important;
}

.form-check-input:checked {
  background-color: var(--coral) !important;
  border-color: var(--coral) !important;
}

/* ----------------------------------- Buttons */

.btn-outline-coral {
  color: var(--coral) !important;
  border-color: var(--coral) !important;
}

.btn-outline-coral:hover {
  color: white !important;
  background-color: var(--coral);
  border-color: var(--coral);
}

.btn-check:active + .btn-outline-coral,
.btn-check:checked + .btn-outline-coral,
.btn-outline-coral.active,
.btn-outline-coral.dropdown-toggle.show,
.btn-outline-coral:active {
  color: var(--coral) !important;
  background-color: var(--navy) !important;
  border-color: var(--coral) !important;
}

.btn-outline-navy {
  color: var(--coral) !important;
  border-color: var(--navy) !important;
}

.btn-outline-navy:hover {
  color: white !important;
  background-color: var(--navy);
  border-color: var(--navy);
}

.btn-check:active + .btn-outline-navy,
.btn-check:checked + .btn-outline-navy,
.btn-outline-navy.active,
.btn-outline-navy.dropdown-toggle.show,
.btn-outline-navy:active {
  color: var(--coral) !important;
  background-color: var(--navy) !important;
  border-color: var(--navy) !important;
}

.btn-coral {
  color: var(white) !important;
  background-color: var(--coral) !important;
  border-color: var(--coral) !important;
}

.btn-coral:hover {
  color: white !important;
  background-color: var(--navy) !important;
  border-color: var(--coral);
}

.btn-check:active + .btn-coral,
.btn-check:checked + .btn-coral,
.btn-coral.active,
.btn-coral.dropdown-toggle.show,
.btn-coral:active {
  color: white !important;
  background-color: var(--navy) !important;
  border-color: var(--coral) !important;
}

.btn-grey {
  color: var(white) !important;
  background-color: var(--grey) !important;
  border-color: var(--grey) !important;
}

.btn-grey:hover {
  color: var(--navy) !important;
  background-color: white !important;
  border-color: var(--grey);
}

.btn-check:active + .btn-grey,
.btn-check:checked + .btn-grey,
.btn-grey.active,
.btn-grey.dropdown-toggle.show,
.btn-grey:active {
  color: var(--navy) !important;
  background-color: white !important;
  border-color: var(--grey) !important;
}

/* ------------- Navigation ------------- */

.owlnook-logo {
  width: 100px;
  height: 45px;
}

.title-hr {
  border: 3px solid var(--grey);
  width: 80px;
}
