{% extends "base.html"%}

{% block extra_title %}| Add Post{% endblock %}
{% block extra_css %}
  <script src="https://cdn.tiny.cloud/1/oee2h6odxrg7bm4cofq0ahnk8g92ff8mlhxaopxxmkam5syc/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
{% endblock %}

{% block content %}
  <div class="container">
    <h2 class="fw-bolder mb-1 text-capitalize text-center">Add Post</h2>
    <hr class="title-hr text-center ms-auto me-auto mb-4">
    <div class="col-md-9 col-lg-8 mx-auto">
      <div class="form-group bg-white-20 rounded p-4">
        <form method="post" action="{% url 'add_post' %}" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="text-center">
            <button type="submit" value="addpost" class="btn btn-coral">Post</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
{% block postload_js %}
  <script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'advlist autolink lists link image charmap preview anchor pagebreak visualblocks code',
      "menubar": "edit view insert format tools table help",
      toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | ' + 'bullist numlist outdent indent | link image | media fullscreen | ' + 'emoticons | help',
      toolbar_mode: 'floating',
      "content_style": "@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');"
    });
    // update slug
    // https://www.w3schools.com/jsref/jsref_replace.asp
    // https://www.30secondsofcode.org/js/s/slugify
    const slugify = str => str
      .toLowerCase()
      .trim()
      .replace(/[^\w\s-]/g, '')
      .replace(/[\s_-]+/g, '-')
      .replace(/^-+|-+$/g, '');

    $('#id_title').on('keyup', function () {
      let title = document
        .getElementById('id_title')
        .value;
      document
        .getElementById('id_slug')
        .value = slugify(title);
    });

    // Add category page button link on page load
    let categoryURL = "{% url 'add_category' %}";

    document
      .getElementById('div_id_category')
      .innerHTML += `<div class="text-center mt-2"><a role="button" href="${categoryURL}" class="btn btn-coral">Add category</a></div>`;
  </script>
{% endblock %}