{% extends "base.html" %}
{%block title %}{{post.title}}
{% endblock %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}"/>
{% endblock %}

{% block extra_title %}|
  {{ post.title }}
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row d-flex flex-column align-items-center">
      <div class="col-lg-8">
        <!-- Post content-->
        {% if user.is_authenticated %}
          <article class="d-flex flex-column align-items-center">
            <!-- Post header-->
            <header class="mb-4 container-fluid">
              <!-- Post title-->
              <h1 class="fw-bolder mb-1 text-capitalize text-center">{{ post.title }}</h1>
              <hr class="title-hr text-center ms-auto me-auto mb-4">
              <!-- Post meta content-->
              <div class="d-flex justify-content-between">
                <div class="d-flex">
                  <div class="flex-shrink-0">
                    <span class="user-icon">
                      {% include 'blog/includes/profile_svg.html' %}
                    </span>
                  </div>
                  <div class="text-muted fst-italic ms-3">
                    <div class="fw-bold">{{ post.author }}</div>
                    {{ post.created_on }}
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <span class="me-2 icon">
                    <i class="fa-regular fa-bookmark text-coral"></i>
                  </span>
                  <span class="ms-3 icon">
                    <i class="fa-solid fa-arrow-up-right-from-square text-coral"></i>
                  </span>
                </div>
              </div>
            </header>
            {% if user.id == post.author.id %}
              <div class="col d-flex ">
                <div class="mb-4 pe-2">
                  <a class="btn btn-success d-flex align-items-center justify-content-between" href="{% url 'edit_post' post.pk %}">
                    Edit
                  </a>
                </div>
                <div class="mb-4 ps-2">
                  <button class="btn btn-danger d-flex align-items-center justify-content-between" data-bs-toggle="modal" data-bs-target="#id-delete-{{ post.pk }}">
                    Delete
                  </button>
                  {% include 'blog/includes/delete_post.html'%}
                </div>
              </div>
            {% endif %}
            <!-- Preview image figure-->
            <figure class="mb-4">
              {% if "placeholder" in post.featured_image.url %}
                <img class="img-fluid rounded" src="https://res.cloudinary.com/datonex/image/upload/v1640619246/placeholder.jpg" width="100%">
              {% else %}
                <img class="img-fluid rounded" src=" {{ post.featured_image.url }}" width="100%">
              {% endif %}
            </figure>
            <!-- Post content-->
            <section class="col-12">
              <p>{{ post.content | safe }}</p>
            </section>
          </article>
        {% else %}
          {% include 'blog/includes/post_detail_anon.html'%}
        {% endif %}
        <!-- Author details section-->
        <section class="mb-5"></section>
        <!-- Categories section-->
        <section class="mb-5">
          <a class="badge bg-light text-decoration-none link-dark fs-6 fw-light" href="{% url 'category_view' post.category.slug %}">{{ post.category}}</a>
        </section>
        {% if user.is_authenticated %}
        
        <!--Interaction butttons-->
        <section class="mb-5">
          <div class="row">
            <form action="{% url 'post_like' post.slug %}" method="POST">
              {% csrf_token %}
              {%if liked %}
                <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="btn btn-outline-navy">
                  <span class="icon d-flex align-content-center justify-content-between">
                    <i class="fa-solid fa-thumbs-up text-coral"></i>
                    <p class="mb-0 ms-2 text-white fs-6"> {{ post.number_of_likes }}</p>
                  </span>
                </button>
              {% else %}
                <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="btn btn-outline-navy">
                  <span class="icon d-flex align-content-center justify-content-between">
                    <i class="fa-regular fa-thumbs-up text-coral"></i>
                    <p class="mb-0 ms-2 text-white fs-6"> {{ post.number_of_likes }}</p>
                  </span>
                </button>
              {% endif %}
              <a class="btn btn-navy">
                <span class="icon d-flex align-content-center justify-content-between">
                  <i class="fa-regular fa-comments text-coral"></i>
                  {% with comments.count as total_comments %}
                    <p class="mb-0 ms-2 text-white fs-6">{{ total_comments }}</p>
                  {% endwith %}
                </span>
              </a>
            </form>
          </div>
        </section>
          <!-- Comments section-->
          <section class="mb-5">
            <div class="card bg-grey-20">
              <div class="card-body">
                <div class="card-header">
                  <h4>Comments</h4>
                </div>
                <!-- Comment form-->
                <form method="POST" action="" class="mb-4">
                  {% csrf_token %}
                  {{ comment_form | crispy }}
                  <div class="d-flex justify-content-end">
                    <button class="btn btn-coral mt-4" type="submit">Post</button>
                  </div>
                </form>
                <!-- Comment with nested comments-->
                {% if comments %}
                {% comment %} prettier-ignore {% endcomment %}
                  {% for comment in comments %}
                    <div class="d-flex mb-4">
                      <!-- Parent comment-->
                      <div class="flex-shrink-0">
                        <span class="user-icon">
                          {% include 'blog/includes/profile_svg.html' %}
                        </span>
                      </div>
                      <div class="ms-3">
                        <div class="rounded bg-grey-20 p-2">
                          <div class="link-coral mb-2">
                            <p class="text-coral">{{ comment.name }}</p>
                            <p class="text-white">{{ comment.created_on }}</p>
                          </div>
                          <div>
                            {{ comment.body | linebreaks }}
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                {% else %}

                {% endif %}

              </div>
            </section>
          {% endif %}
        </div>

      </div>
    </div>
  {% endblock %}
