{% extends "base.html" %}
{%block title %}{{post.title}}
{% endblock %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}"/>
{% endblock %}

{% block extra_title %}|
  {{ post.title }}
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row d-flex flex-column align-items-center">
      <div class="col-lg-8">
        <!-- Post content-->
        {% if user.is_authenticated %}
          <article class="d-flex flex-column align-items-center">
            <!-- Post header-->
            <header class="mb-4 container-fluid">
              <!-- Post title-->
              <h1 class="fw-bolder mb-1 text-capitalize text-center">{{ post.title }}</h1>
              <hr class="title-hr text-center ms-auto me-auto mb-4">
              <!-- Post meta content-->
              <div class="d-flex justify-content-between">
                <div class="d-flex">
                  <div class="flex-shrink-0">
                    <img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."/>
                  </div>
                  <div class="text-muted fst-italic ms-3">
                    <div class="fw-bold">{{ post.author }}</div>
                    {{ post.created_on }}
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <span class="me-2 icon">
                    <i class="fa-regular fa-bookmark text-coral"></i>
                  </span>
                  <span class="ms-3 icon">
                    <i class="fa-solid fa-arrow-up-right-from-square text-coral"></i>
                  </span>
                </div>
              </div>
            </header>
            {% if user.id == post.author.id %}
              <div class="col d-flex ">
                <div class="mb-4 pe-2">
                  <a class="btn btn-success d-flex align-items-center justify-content-between" href="{% url 'edit_post' post.pk %}">
                    Edit
                  </a>
                </div>
                <div class="mb-4 ps-2">
                  <button class="btn btn-danger d-flex align-items-center justify-content-between" data-bs-toggle="modal" data-bs-target="#id-delete-{{ post.pk }}">
                    Delete
                  </button>
                  {% include 'blog/includes/delete_post.html'%}
                </div>
              </div>
            {% endif %}
            <!-- Preview image figure-->
            <figure class="mb-4">
              {% if "placeholder" in post.featured_image.url %}
                <img class="img-fluid rounded" src="https://res.cloudinary.com/datonex/image/upload/v1640619246/imadnfnd5k4y1pgaw9xu.jpg" width="100%">
              {% else %}
                <img class="img-fluid rounded" src=" {{ post.featured_image.url }}" width="100%">
              {% endif %}
            </figure>
            <!-- Post content-->
            <section class="col-12">
              <p>{{ post.content | safe }}</p>
            </section>
          </article>
        {% else %}
          {% include 'blog/includes/post_detail_anon.html'%}
        {% endif %}
        <!-- Author details section-->
        <section class="mb-5"></section>
        <!-- Categories section-->
        <section class="mb-5">
          <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ post.category}}</a>
        </section>
        <!--Interaction butttons-->
        <section class="mb-5">
          <div class="row">
            <form action="" method="POST">
              {% csrf_token %}
              {%if liked %}
                <div class="interact-btn">
                  <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="btn-like">
                    <i class="far fa-thumbs-up" aria-hidden="true"></i>
                  </button>
                {% else %}
                  <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="btn-like">
                    <i class="fas fa-thumbs-up"></i>
                  </button>
                {% endif %}
                {% if disliked %}
                  <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="btn-dislike">
                    <i class="far fa-thumbs-down"></i>
                  </button>
                {% else %}
                  <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="btn-dislike">
                    <i class="fas fa-thumbs-down"></i>
                  </button>
                {% endif %}
              </div>
              <div></div>
            </form>
          </div>
        </section>
        {% if user.is_authenticated %}
          <!-- Comments section-->
          <section class="mb-5">
            <div class="card bg-light">
              <div class="card-body">
                <!-- Comment form-->
                <form class="mb-4">
                  <textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea>
                </form>
                <!-- Comment with nested comments-->
                <div class="d-flex mb-4">
                  <!-- Parent comment-->
                  <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."/></div>
                  <div class="ms-3">
                    <div class="fw-bold">Commenter Name</div>
                    If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.
                    <!-- Child comment 1-->
                    <div class="d-flex mt-4">
                      <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."/></div>
                      <div class="ms-3">
                        <div class="fw-bold">Commenter Name</div>
                        And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.
                      </div>
                    </div>
                    <!-- Child comment 2-->
                    <div class="d-flex mt-4">
                      <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."/></div>
                      <div class="ms-3">
                        <div class="fw-bold">Commenter Name</div>
                        When you put money directly to a problem, it makes a good headline.
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Single comment-->
                <div class="d-flex">
                  <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."/></div>
                  <div class="ms-3">
                    <div class="fw-bold">Commenter Name</div>
                    When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.
                  </div>
                </div>
              </div>
            </div>
          </section>
        {% endif %}
      </div>

    </div>
  </div>
{% endblock %}
