{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}|
  {% trans "Account" %}
{% endblock %}

{% block inner_heading %}{% trans "E-mail Addresses" %}
{% endblock %}

{% block inner_content %}
  <div class="container">
    <div class="col-md-8 col-lg-6 mx-auto">
      <div class="form-group bg-white-20 rounded py-4">
        {% if user.emailaddress_set.all %}
          <div class="my-3 text-center">
            <p class="text-center">{% trans 'The following e-mail addresses are associated with your account:' %}</p>
          </div>
          <form class="email_list d-flex flex-column align-items-center justify-content-center" method="POST" action="{% url 'account_email' %}">
            {% csrf_token %}
            <div class="container">
              <div class="col-12 col-lg-8 mx-auto">
                <div class="row">
                  <div class="col-12 mx-auto">
                    <fieldset class="blockLabels">
                      {% for emailaddress in user.emailaddress_set.all %}
                        <div class="ctrlHolder text-white mb-5 text-center">
                          <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%} text-white mt-2">
                            <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %} checked="checked" {%endif %} value="{{emailaddress.email}}"/>
                            {{ emailaddress.email }}
                            {% if emailaddress.verified %}
                              <span class="verified text-coral">{% trans "Verified" %}</span>
                            {% else %}
                              <span class="unverified">{% trans "Unverified" %}</span>
                            {% endif %}
                            {% if emailaddress.primary %}
                              <span class="primary text-white">{% trans "Primary" %}</span>{% endif %}
                          </label>
                        </div>
                      {% endfor %}
                      <div class="col-12 col-lg-10 mt-2 mx-auto">
                        <div class="buttonHolder d-grid gap-2">
                          <button class="secondaryAction btn btn-light" type="submit" name="action_primary">{% trans 'Make Primary' %}</button>
                          <button class="secondaryAction btn btn-outline-light" type="submit" name="action_send">{% trans 'Re-send Verification' %}</button>
                          <button class="primaryAction btn btn-danger" type="submit" name="action_remove">{% trans 'Remove' %}</button>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div>
            </div>
          </form>
        {% else %}
          <p class="text-center">
            <strong>{% trans 'Warning:'%}</strong>
            {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}
          </p>

        {% endif %}

        <div class="mt-4">
          <h2 class="text-center">{% trans "Add E-mail Address" %}</h2>

          <form method="post" action="{% url 'account_email' %}" class="add_email d-flex flex-column align-items-center justify-content-center">
            {% csrf_token %}
            <div class="container">
              <div class="col-12 col-lg-8 mx-auto">
                <div class="row">
                  <div class="col-12 mx-auto">
                    {{ form|crispy }}
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-coral" name="action_add" type="submit">{% trans "Add E-mail" %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block postload_js %}
  <script>
    (function () {
      var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
      var actions = document.getElementsByName('action_remove');
      if (actions.length) {
        actions[0].addEventListener("click", function (e) {
          if (!confirm(message)) {
            e.preventDefault();
          }
        });
      }
    })();
  </script>
{% endblock %}
