{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}|
  {% trans "Change Password" %}
{% endblock %}

{% block inner_heading %}{% trans "Change Password" %}
{% endblock %}

{% block inner_content %}
  <div class="container">
    <div class="col-md-8 col-lg-6 mx-auto">
      <div class="bg-white-20 rounded py-5">
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change d-flex flex-column align-items-center justify-content-center">
          {% csrf_token %}
          {{ form|crispy }}
          <button class="btn btn-coral mt-3" type="submit" name="action">{% trans "Change Password" %}</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block postload_js %}
  <script>
    $(function () {
      if ($('#id_oldpassword')) {
        $('#id_oldpassword').attr("autocomplete", "current-password");
      } else 
        ($('#id_password1, #id_password2'))
      $('#id_password1, #id_password2').attr("autocomplete", "new-password")
    });
  </script>
{% endblock %}
