{% extends "account/base.html" %}

{% load i18n %}

{% block inner_heading %}{% trans "Verify Your E-mail Address" %}
{% endblock %}

{% block inner_content %}
  <div class="container">
    <div class="col-md-8 col-lg-6 mx-auto">
      <div class="form-group bg-white-20 rounded py-4">
        <div class="my-3 text-center">
          <p>
            {% blocktrans %}
            We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.
            {% endblocktrans %}
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
