{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}|{% trans "Account Inactive" %}
{% endblock %}

{% block inner_heading %}{% trans "Account Inactive" %}
{% endblock %}
{% block inner_content %}
  <div class="container">
    <div class="col-md-8 col-lg-6 mx-auto">
      <div class="bg-white-20 rounded py-4">
        <div class="my-3 text-center">
          <p class="text-center">{% trans "This account is inactive." %}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
