{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}|
  {% trans "Change Password" %}
{% endblock %}

{% block inner_heading %}{% trans "Change Password" %}
{% endblock %}

{% block inner_content %}
  <div class="container">
    <div class="col-md-8 col-lg-6 mx-auto">
      <div class="form-group bg-white-20 rounded py-4">
        <div class="my-3 text-center">
          <p>{% trans 'Your password is now changed.' %}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
