{% extends "account/base.html" %}

{% load i18n %}
{% block extra_title %}|
  {% trans "Change Password" %}
{% endblock %}

{% block inner_heading %}
  {% if token_fail %}
    {% trans "Bad Token" %}
  {% else %}
    {% trans "Change Password" %}
  {% endif %}
{% endblock %}

{% block inner_content %}
  <div class="container">
    <div class="col-md-8 col-lg-6 mx-auto">
      <div class="form-group bg-white-20 rounded py-4">
        {% if token_fail %}
          <div class="my-3 text-center">
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>
              {% blocktrans %}
              The password reset link was invalid, possibly because it has already been used. Please request a
              <a class="link-coral" href="{{ passwd_reset_url }}">new password reset</a>.
              {% endblocktrans %}
            </p>
          </div>
        {% else %}
          {% if form %}
            <form class="d-flex flex-column align-items-center justify-content-center" method="POST" action="{{ action_url }}">
              {% csrf_token %}
              <div class="container">
                <div class="col-12 col-lg-8 mx-auto">
                  <div class="row">
                    <div class="col-12 col-lg-10 mx-auto">
                      {{ form|crispy }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center mt-3">
                <input class="btn btn-coral" type="submit" name="action" value="{% trans 'change password' %}"/>
              </div>
            </form>
          {% else %}
            <div class="my-3 text-center">
              <p>{% trans 'Your password is now changed.' %}</p>
            </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
