<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    {% block meta %}
      <meta charset="UTF-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    {% endblock %}
    {% block extra_meta %}{% endblock %}
    {% block corecss %}
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"/>
      <link rel="preconnect" href="https://fonts.googleapis.com"/>
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"/>
      <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
      <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
      <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    {% endblock %}
    {% block extra_css %}{% endblock %}
    {% block corejs %}
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/20692f6912.js" crossorigin="anonymous"></script>
    {% endblock %}
    {% block extrajs %}{% endblock %}

    <title>Owl Nook
      {% block extra_title %}{% endblock %}
    </title>
  </head>

  <body class="bg-navy text-white">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-navy">
      <div class="container-lg">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static 'img/logo/png/logo-coral.png' %}" alt="Owl Nook" class="owlnook-logo"/>
        </a>
        <!-- user is authenticated -->
        {% if request.user.is_authenticated %}
          <ul class="navbar-nav d-flex flex-row align-content-center d-sm-none">
            <li class="nav-item px-2 mt-1 align-self-center">
              <a href="#" aria-label="open search" role="button" class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#openOffCanvasSearch" aria-controls="openOffCanvasSearch">
                <span class="icon">
                  <i class="fa-solid fa-magnifying-glass text-coral"></i>
                </span>
              </a>
              <div class="offcanvas offcanvas-end bg-navy" tabindex="-1" id="openOffCanvasSearch" aria-labelledby="openOffCanvasSearchLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title text-white" id="offcanvasScrollingLabel">Search</h5>
                  <button type="button" class="btn btn-outline-navy text-reset" data-bs-dismiss="offcanvas" aria-label="Close">
                    <i class="fa-solid fa-xmark text-coral icon"></i>
                  </button>
                </div>
                <div class="offcanvas-body">
                  <form method="GET" action="">
                    <div class="d-grid gap-2">
                      <input class="form-control bg-navy text-start border border-1 text-white" name="q" type="text" placeholder="Search Owl Nook" aria-label="Search Owl nook"/>
                      <button class="btn btn-outline-navy" type="submit" aria-label="search">
                        <span class="icon">
                          Search
                          <i class="fa-solid fa-magnifying-glass text-coral ms-2"></i>
                        </span>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </li>
            <li class="nav-item px-2 align-self-center">
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#openOffCanvasMenu" aria-label="open menu" aria-controls="openOffCanvasMenu">
                <i class="fa-solid fa-bars icon text-coral"></i>
              </button>
            </li>
          </ul>
          <div class="offcanvas offcanvas-end bg-navy d-sm-none" tabindex="-1" id="openOffCanvasMenu" aria-labelledby="openOffCanvasMenuLabel">
            {% include 'includes/mobile_menu.html' %}
          </div>
          <div class="navbar-nav d-none d-sm-flex mx-auto">
            <form method="GET" action="">
              <div class="input-group w-100">
                <div class="d-grid gap-1">
                  <input class="form-control bg-navy text-start border-0" name="q" type="text" placeholder="Search Owl Nook" aria-label="Search Owl nook"/>
                  <hr class="main-hr text-grey-20 mx-auto my-0" style="max-width: 30vw;"/>
                </div>
                <button class="btn" type="submit" aria-label="search">
                  <span class="icon">
                    <i class="fa-solid fa-magnifying-glass text-coral"></i>
                  </span>
                </button>
              </div>
            </form>
          </div>
          <ul class="navbar-nav d-none d-sm-flex justify-content-evenly">
            <li class="nav-item px-2 mx-1">
              <a href="#" aria-label="saved blogs" role="button" class="nav-link">
                <span class="icon">
                  <i class="fa-solid fa-bookmark text-coral"></i>
                </span>
              </a>
            </li>
            <li class="nav-item px-2 mx-1">
              <a href="{% url 'add_post' %}" aria-label="write new blog" role="button" class="nav-link">
                <span class="icon">
                  <i class="fa-solid fa-pen-fancy text-coral"></i>
                </span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <button class="btn btn-outline-navy px-2 mx-1" aria-label="user menu" id="dropdownMenuLarge" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="icon">
                  <i class="fa-solid fa-user text-coral"></i>
                </span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLarge">
                <li>
                  <a class="dropdown-item" href="{% url 'draft_view' user.id %}">Drafts</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'account_logout' %}">Sign out</a>
                </li>
              </ul>
            </li>
          </ul>
          <!-- user not authenticated -->
        {% else %}
          <ul class="navbar-nav">
            <li class="nav-item d-none d-sm-block me-2">
              <a class="btn btn-outline-coral" href="{% url 'account_login' %}" role="button">Login</a>
            </li>
            <li class="nav-item d-none d-sm-block ms-2">
              <a class="btn btn-coral" href="{% url 'account_signup' %}" role="button">Register</a>
            </li>
            <li class="nav-item d-block d-sm-none">
              <a class="btn btn-coral" href="{% url 'account_signup' %}" role="button">Get started</a>
            </li>
          </ul>
        {% endif %}
      </div>
    </nav>
    <hr class="main-hr text-grey-20 mx-auto mt-1"/>
    {% block content %}{% endblock %}
    {% block postload_js %}{% endblock %}
  </body>

</html>
